.coming-soon {
  padding: 51px 0 109px;

  @include laptop {
    padding: 50px 0 63px;
  }

  &__title {
    font-family: 'Belgro', sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
  }

  &__locations {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;

    @include laptop {
      gap: 6px;
    }

    &-item {
      padding: 16px;
      font-family: 'Belgro', sans-serif;
      font-weight: 900;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      color: #fa6730;
      border: 1px solid #fa6730;
      border-radius: 100px;

      @include laptop {
        font-size: 16px;
      }
    }
  }
}
