.first-screen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 105px);
  max-height: 1080px;
  overflow: hidden;

  @include laptop {
    min-height: calc(100dvh - 60px);
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: auto;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);

    @media screen and (min-width: 1540px) {
      display: block;
      max-width: 2560px;
      height: 1400px;
      width: auto;
    }
  }

  & .container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;

    @include laptop {
    }
  }

  &__content {
    margin-top: -140px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    &-image {
      display: block;
      max-width: 100%;
      height: auto;

      @include desktop {
        width: 179px;
      }
    }
  }

  &__title {
    margin: 44px 0 52px;
    font-family: 'Belgro', sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    @include desktop {
      margin: 36px 0 12px;
      font-size: 48px;
    }

    @include tablet {
      font-size: 40px;
    }

    @include mobile {
      font-size: 32px;
    }

    &_sm {
      margin: 96px 0 18px;
      font-size: 48px;

      @include desktop {
        margin: 36px 0 13px;
        font-size: 30px;
      }
    }
  }

  &__description {
    max-width: 776px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #fff;

    @include desktop {
      font-size: 16px;
    }
  }

  &__advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include mobilesm {
      flex-wrap: wrap;
      gap: 14px;
    }

    &-item {
      position: relative;
      padding: 0 24px;
      font-family: 'Belgro', sans-serif;
      font-weight: 900;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      color: #fa6730;

      @include desktop {
        padding: 0 7px;
        font-size: 14px;
      }

      @include mobilesm {
        padding: 0;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        height: 7px;
        width: 7px;
        border-radius: 10px;
        background-color: $orange;
        transform: translateX(50%) translateY(-50%);

        @include mobilesm {
          display: none;
        }
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;

        &::after {
          display: none;
        }
      }
    }
  }

  &__scroll {
    position: absolute;
    right: 10px;
    bottom: 52px;
    display: flex;
    align-items: center;
    gap: 13px;

    @include laptop {
      left: 50%;
      right: auto;
      bottom: 150px;
      transform: translateX(-50%);
    }

    &-text {
      font-family: 'Outfit', sans-serif;
      font-weight: 200;
      font-size: 24px;
      color: #fa6730;

      @include laptop {
        display: none;
      }
    }

    &-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 48px;
      overflow: hidden;
      border: 1px solid #fa6730;
      border-radius: 50px;

      @keyframes scrollButton {
        0% {
          transform: translate3d(0, -30px, 0);
        }
        50% {
          transform: translate3d(0, 0, 0);
        }
        100% {
          transform: translate3d(0, 30px, 0);
        }
      }

      &::after {
        content: '';
        height: 14px;
        width: 24px;
        background: url(../assets/scroll-arrow.svg) center no-repeat;
        transition: transform ease-in-out 0.1s;
        animation-name: scrollButton;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }
    }
  }
}
