.custom-time-input {
  position: relative;

  & input {
    display: none;
  }

  &.active {
    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-color: $black;
      opacity: 0;
    }
  }

  &__fasade {
    display: block;
    width: 100%;
    padding: 20px 30px;
    padding-right: 50px;
    min-height: 72px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    background: url(../assets/dropdown.svg) center right 30px no-repeat;
    background-color: $black;
    cursor: pointer;

    @include laptop {
      min-height: 67px;
      font-size: 20px;
    }

    &:focus {
      outline: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  &__panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: none;
    padding: 8px 8px 22px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    background-color: $black;
    animation-name: fadeInUp;
    animation-duration: 0.2s;

    .active & {
      display: block;
    }

    &-heading {
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 24px;
      padding: 8px 20px;
    }

    &-title {
      font-family: 'Belgro', sans-serif;
      font-weight: 900;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #fa6730;
    }

    &-close {
      position: absolute;
      top: 50%;
      right: 16px;
      display: inline-block;
      height: 16px;
      width: 16px;
      border: none;
      background: url(../assets/close-orange.svg) center no-repeat;
      transform: translateY(-50%);
      cursor: pointer;
    }

    &-controls {
      display: flex;
      gap: 40px;

      & > * {
        flex: 0 0 calc(50% - 20px);
      }
    }

    &-input {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 4px;

      &-title {
        flex: 1 1 100%;
        font-family: 'Belgro', sans-serif;
        font-weight: 900;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #fff;
        opacity: 0.6;
      }

      &-minus,
      &-plus {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: 60px;
        height: 40px;
        box-sizing: border-box;
        font-family: 'Belgro', sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
        color: #fa6730;
        border: 1px solid #fa6730;
        border-radius: 12px;
        transition-property: color, background-color;
        user-select: none;
        cursor: pointer;

        &:hover {
          color: $black;
          background-color: #fa6730;
        }
      }

      &-time {
        display: flex;
        align-items: center;
        justify-content: center;
        flex:  1 1 auto;
        font-family: 'Belgro', sans-serif;
        font-weight: 900;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #fff;
      }
    }
  }
}
